body{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.center{
  text-align: center;
}

h1{
  font-family: cursive;
  color: rgb(173, 149, 211);
}

h2{
  font-family: cursive;
  color: teal;
}

h4{
  font-family: cursive;
}

.color{
  background-color: rgb(173, 149, 211);
  border: rgb(173, 149, 211);
  padding: 20px 27px;
  font-size: 27px;
  min-width: 40px;
  min-height:40px; 
}

.color:active {
  background-color: #3e8e41;
}

.test_row {
  margin-bottom:24px;
}

#gameBoard {
  margin:0px auto;
  max-width: 200px;
  margin-right: 5px;
}